.D{
	color:palegreen;
	background-color: dimgray;
	font-family: cursive;
}
.ABC{
	color:indianred;
	background-color: beige;
	font-family: cursive; 
}
.P{
	color:hotpink;
	background-color:darkturquoise;
	font-family: cursive; 
}